<div class="container">
  <div class="big-icon"><span class="glyphicon glyphicon-camera"></span></div>
  <div class="big-icon">
    <a href="/pictures/new"><span class="glyphicon glyphicon-upload"></span></a>
  </div>
</div>

<script>
$(document).ready(function() {
    $('body').css('background-image', 'url(app/assets/images/IMG_4697.jpg)');
    $('body').css('background-size', '100%');
  });
</script>




