<div class="overlay"></div>
<div class="bg"></div>


<div class="container home">
  <div id="headline">
    <h1>Community-curated<br>beautification</h1>
  </div>
  <div id="icons">
    <div class="icon-box">
      <a href="/pictures/new">
        <%= image_tag "/images/icon_2633/icon_2633_rev.png", class: "icon", id: "upload" %>
      </a>
      <h2>upload</h2>
    </div>
    <div class="icon-box">
      <a href="/artifacts">
        <%= image_tag "/images/icon_28731/icon_28731_rev.png", class: "icon", id: "explore" %>
      </a>
      <h2>explore</h2>
    </div>
  </div>

</div>


