body {
  margin: 0;
  padding: 0;
}

.tagger {
  font-family: 'Rock Salt', cursive;
}

#geoloca {
  margin-top: 20px;
  clear: both;
  background-color: #eee;
  padding: 10px;
  float:left;
}

#latlong {
  margin-top:20px;
}

#artifacts.list {
  display: block;
  clear: both;
}

#map {
  position: absolute;
  width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
