body {
  font-family: sans-serif;
  width: 960px;
  margin: 0 auto;
}

nav {
  position: absolute;
  padding: 0 10px;
  top: 0;
  left: 0;
  background-color: #ddd;
  height: 50px;
  width: 100%;
}

.center {
  text-align: center;
}

nav h1 {
  line-height: 50px;
}

.container {
  margin-top: 70px;
}

.big-icon {
  font-size: 4em;
  text-align: center;
}

input[type="file"] {
  padding: 100px 50px;
  border: 4px dashed #eee;
  text-align: center;
  clear: both;
}

#new_picture {
  margin: auto;
  text-align: center;
}

input[type="submit"] {
  -webkit-appearance: none;
  font-size: 1em;
  border: none;
  padding: 10px 15px;
  margin: 10px;
}

.tagger {
  font-family: 'Rock Salt', cursive;
}

#map {
  height: 800px;
  position: absolute;
  width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

/* Mapbox CSS overrides */

.leaflet-popup-content {
  width: 160px;
}

#mini-map {
  width: 400px;
  height: 300px;
}

.leaflet-marker-pane img {
  border: 4px solid #fff;
  box-shadow: 1px 1px 5px #333;
}
