/* @media mobile.css portrait and landscape */

/* iPhone */
/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {*/
@media (max-width: 480px) {
  body {
    width:100%;
    padding: 0 20px;
  }
  .home-page #header {
    width: 100%;
  }
  .home-page #logo a {
    background-size: 160px auto;
    background-position: 50% 2%;
  }
  #headings {
    width: 100%;
    font-size: 10px;
  }
  #headings h1 {
    padding-top: 25%;
  }
  #buttons {
    width: 100%;
  }

  .cancel {display: none;}

  input.submit, button.cancel {
    border-radius: 0;
    display: inline;
  }
  .menu, #uploader {
    display: none;
  }
  #icons {
    width: 100%;
  }
}
