<div class="container">
  <h1 class="center">Art is in the eye of the beholder.</h1>
  <h2 class="center">Explore, vote, upload, report.</h2>
  <div class="separator center"><%= image_tag '/images/dk_separator_01.png' %></div>
  <div id="thumbs-box">
      <% @artifacts.each do |art| %>
      <div id="thumb-box">
        <div class="thumb"><%= image_tag art.canonical_picture.image.preview.url %></div>
        <div class="info"><%= art.pictures.count %></div>
      </div>
    <% end %>
  </div>
</div>
