<%= javascript_include_tag :artifacts %>

<!-- div#map required for loading gmap -->
<div id="map"></div>

<script>
  // passes data from server to JS
  var artifacts = <%=raw @artifacts.to_json %>;
  // console.log(artifacts);
</script>
