<div id="header">
    <div id="logo">
      <a href="/" title="ScrallWall" id="logo"></a>
    </div>
    <% if !mobile_device? %>
    <ul class="menu left">
      <li id="upload-menu-item">upload</li>
      <li><a href="#">about</a></li>
    </ul>
    <ul class="menu right">
      <li><%= link_to "artifacts", artifacts_path %></li>
      <li><%= link_to "explore", explore_artifacts_path %></li>
    </ul>
  <% else %>
    <ul class="menu-mobile">
      <li><a href="/">ScrallWall</a></li>
      <li><%= link_to "explore", explore_artifacts_path %></li>
      <li><%= link_to "artifacts", artifacts_path %></li>
    </ul>
  <% end %>
</div>
