<!DOCTYPE html>
<html>
<head>
  <title>ProjectBernies</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>

  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>KanyeWestpresentsChi-CityStreetArt.biz</h1>
    <nav>
      <ul>
        <li><a href="/artifacts">View Map</a></li>
      </ul>
    </nav>
  </header>
  <%= yield %>
</body>
</html>

